<div id="header">
    <div id="header_text">
        <ul>
            <li><a href="http://www.mythtv.org/detail/mythtv">About MythTV</a>
                <div>
                <ul>
                    <li class="first"><a href="http://www.mythtv.org/detail/mythtv">MythTV In Detail</a></li>
                    <li><a href="http://www.mythtv.org/license">Licensing</a></li>
                    <li><a href="http://www.mythtv.org/wiki/Frequently_Asked_Questions">FAQ</a></li>
                    <li class="last"><a href="http://www.mythtv.org/contact">Contact Us</a></li>
                </ul>
                </div>
                </li>
            <li class="cur"><a href="http://www.mythtv.org/support">Support</a>
                <div>
                <ul>
                    <li class="first"><a href="http://www.mythtv.org/support">Overview</a></li>
                    <li><a href="http://www.mythtv.org/docs/">Documentation</a></li>
                    <li><a href="https://forum.mythtv.org/">Forums</a></li>
                    <li><a href="http://wiki.mythtv.org/">Wiki</a></li>
                    <li><a href="https://code.mythtv.org/trac/wiki/TicketHowTo">Bugs</a></li>
                    <li class="last"><a href="https://code.mythtv.org/trac/">Development</a></li>
                </ul>
                </div>
                </li>
            <li><a href="http://www.mythtv.org/download">Download</a>
                </li>
            <li><a href="http://www.mythtv.org/news">News Archive</a>
                </li>
        </ul>
    </div>
</div>
